.error {
  flex-grow: 1;
  display: grid;
  place-content: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-top: 1.5rem;
  padding-inline: 1rem;
  text-align: center;
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.title {
  color: orangered;
  margin-bottom: 2rem;
  font-size: clamp(1.25rem, 0.6235rem + 3.1325vw, 4.5rem);
}

.text {
  margin-bottom: 1.5rem;
  font-size: clamp(0.875rem, 0.6581rem + 1.0843vw, 2rem);
  opacity: .8;
  line-height: 1.6;

  & span {
    font-weight: 700;
  }
}

.btn {
  cursor: pointer;
  border-bottom: 3px dashed transparent;
  transition: border-color 0.3s ease-in-out;

  &:hover {
    border-color: var(--color-mebl);
  }

  &:focus-visible {
    outline-color: var(--color-mebl);
  }
  
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}