.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &__img {
    width: 50px;
  }

  &__text {
    color: var(--color-mebl);
    font-size: 50px;
    font-size: clamp(1.125rem, 0.7154rem + 2.0482vw, 3.25rem);
  }
}