.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &__img {
    width: 30px;
    @media (min-width: 580px) {
      width: 50px;
    }
  }


  &__text {
    color: var(--color-mebl);
    font-size: clamp(
      20px,
      calc(10px + (20 * (100vw - 580px) / (1200 - 580))),
      30px,
    );
  }
}