.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &__img {
    width: 30px;
    @media (min-width: 580px) {
      width: 50px;
    }
  }


  &__text {
    text-transform: uppercase;
    color: var(--color-mebl);
    font-size: clamp(
      25px,
      calc(15px + (25 * (100vw - 580px) / (1200 - 580))),
      40px,
    );
  }
}