.hero {
  position: relative;
  height: 100vh;
  background-color: var(--color-light);
  overflow: hidden;
}

.container {
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.animation svg {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  flex-grow: 1;
  position: relative;
  z-index: 2;
  align-self: center;
  padding-top: 8rem;
  color: var(--color-mebl-dark);
  font-size: clamp(1.125rem, 0.7154rem + 2vw, 3.25rem);
}

.title {
  font-weight: 700;
  padding-bottom: 2rem;
  font-size: clamp(1.375rem, 0.65rem + 3vw, 4.125rem);
}

.btn {
  position: relative;
  max-width: 300px;
  transition: all 0.5s ease;

  @media (min-width: 580px) {
    max-width: 500px;
  }
}

.btn:hover {
  transform: rotate(5deg);
}

.btn:disabled {
  pointer-events: none;
}

.btn:disabled:hover {
  transform: none;
}

.text-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 130px;
  min-height: 50px;
  text-align: center;
  position: absolute;
  bottom: 70px;
  font-size: 10px;
  transform: translateX(-50%);
  left: 50%;
  transition: opacity 0.5s ease-in-out;
  @media (min-width: 580px) {
    max-width: 200px;
    height: 50px;
    bottom: 140px;
    font-size: 12px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text-block,
.img {
  animation: fadeIn 0.5s ease-in-out;
}