.catalog {
  display: flex;
  align-items: center;
  display: none;

  @media (min-width: 1120px) {
    display: flex;
  }

  &__container {
    padding: 0;

    @media (min-width: 860px) {
      padding-inline: 43px;
    }

    @media (min-width: 1120px) {
      padding-inline: 92px;
    }
  }

  &__btn {
    color: var(--color-dark);
    outline: none;
    font-size: clamp(
      16px,
      calc(4px + (16 * (100vw - 580px) / (1200 - 580))),
      20px,
    );
    text-wrap: nowrap;
    line-height: 24px;


    &:hover,
    &:focus-visible,
    &_active {
      color: var(--color-yellow);
    }

    &_active {
      pointer-events: none;
      color: var(--color-yellow) !important;
    }

    &:active {
      transform: scale(0.985);
    }
  }
}