.header {
  width: 100%;
  position: absolute;
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: transparent;
  z-index: 100;

  &__block {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 450px) {
      flex-direction: row;
    }

  }

  &__logo {
    width: 50px;

  }
}